* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;

}

div.cabecalho {
  display: flex;
  justify-content: space-between;


}

div.cabecalho nav {
  padding: 35px;
  display: flex;
  gap: 20px;
}

div.cabecalho a {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16.9628px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #1D1B19;
}

h1.cabecalho-titulo {
  font-family: 'Selna';
  font-style: normal;
  font-weight: 400;
  font-size: 52.9025px;
  line-height: 90px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #1D1B19;

}

.cabecalho-circle {
  border: 0.6px solid #1D1B19;
  border-radius: 50%;
  padding: 5px;
  box-sizing: border-box;

}

div.main-top {
  display: flex;

}

div.main-top-text {
  display: flex;
  flex-direction: column;
  padding: 250px 0px 0px 100px;

}

div.main-top-text img {
  width: 48px;
  height: 48px;
  padding-left: 200px;
}

h2.main-top-title {
  font-family: 'Selna';
  font-style: normal;
  font-weight: 400;
  font-size: 62.844px;
  line-height: 80px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #1D1B19;
}

div.main-top p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1D1B19;
  margin: 30px 0px 0px 182px;
  width: 81px;
  padding-bottom: 5px;
  border-bottom: 1px solid #1D1B19;
  ;

}

div.main-top-min {
  display: flex;
  justify-content: space-between;
  padding: 70px 30px 30px 30px;

}

div.main-top-min>p {
  font-family: 'Selna';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 85px;
  text-transform: uppercase;
  color: #1D1B19;

}

div.main-top-min2>p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20.1783px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid #1D1B19;
  ;
  color: #1D1B19;

}

div.main-mid {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px 10px 30px;
}

div.main-mid img {
  height: 450px;
}

div.main-mid p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;

  color: #1D1B19;

}

div.main-mid span {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20.2035px;
  line-height: 23px;
  text-transform: uppercase;

  color: rgba(29, 27, 25, 0.72);
}

div.main-mid3 {
  text-align: center;
  margin-bottom: 100px;
}

div.main-mid3 img {
  height: 450px;
}

div.main-mid3 p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;

  color: #1D1B19;
}

div.main-mid3 input {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20.2035px;
  line-height: 23px;
  text-transform: uppercase;

  color: rgba(29, 27, 25, 0.72);
}

div.main-midi {
  display: flex;
  justify-content: space-around;
}

div.main-midi>img {
  height: 463px;
}

div.main-midi-text {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  font-family: 'Selna';
  font-style: normal;
  font-weight: 400;
  font-size: 56.377px;
  line-height: 96px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #1D1B19;
}

div.main-midi-img2 {
  padding-top: 250px;
}

div.main-med-top {
  display: flex;
  justify-content: space-between;
  margin: 100px 10px 40px 10px;
}

div.main-med {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  margin-left: 40px;
}

.main-med-title {
  font-family: 'Selna';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 85px;
  text-transform: uppercase;
  color: #1D1B19;
}

.main-med-text {
  font-family: 'Helvetica';
  font-size: 27px;
  line-height: 158.9%;
  text-transform: lowercase;
  color: #1D1B19;
}

.main-med-link {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 5 00;
  font-size: 20.1783px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1D1B19;
  border-bottom: 1px solid black;
  width: 130px;
  margin-top: 20px;

}

div.main-med-top img {
  height: 600px;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  margin-right: 20px;

}

div.main-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin: 50px 0px 50px 0px;
}

div.main-bottom img {
  height: 46px;
  width: 46px;
  padding-left: 190px;


}

div.main-bottom input {
  border-top: none;
  border-right: none;
  border-left: none;
  width: 400px;
}

div.main-bottom h2 {
  font-family: 'Selna';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 85px;


  text-transform: uppercase;
  text-align: center;
  color: #1d1b19da;
}

div.main-bottom img,
input {
  margin-left: 450px;
}

div.main-bottom2 {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 200px 0px 30px 300px;

}

div.main-bottom2 p {
  font-family: 'Selna';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 85px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1D1B19;

}

div.trisal-bottom {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #1D1B19;
  ;
  padding: 50px;
  gap: -40px;
}

div.trisal-bottom img {
  width: 300px;

}

div.final-felis {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.final-felis h1{
  padding-left:150px;
  
}

div.final-felis ul {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  font-feature-settings: 'liga' off, 'calt' off;
  color: #1D1B19;
 list-style: none;
 margin-left: 200px;
 
}

.final-lista1 {
  columns: 2;
  gap: 20px;
}
.final-lista2{
  margin-right:550px;
}